/* public/styles.css */
.alban-button {
  width: fit-content;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  border: none;
}

.gabriel-button {
  width: fit-content;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  cursor: pointer;
}

/* check button */

.✅ {
  color: #fff;
  background-color: rgb(0, 159, 13);
  transition: ease-in-out 0.2s;
}
.✅:hover {
  background-color: rgba(0, 159, 13, 0.9);
}
.✅:active {
  background-color: rgba(0, 159, 13, 0.8);
}

/* cross button */

.❌ {
  color: #fff;
  background-color: rgb(195, 0, 0);
  transition: ease-in-out 0.2s;
}
.❌:hover {
  background-color: rgba(195, 0, 0, 0.9);
}
.❌:active {
  background-color: rgba(195, 0, 0, 0.8);
}

/* black button */

.⚫ {
  color: #fff;
  background-color: rgb(0, 0, 0);
  transition: ease-in-out 0.2s;
}
.⚫:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
.⚫:active {
  background-color: rgba(0, 0, 0, 0.8);
}

/* grey-100 button */

.⚪ {
  color: #000000;
  background-color: rgb(225, 225, 225);
  transition: ease-in-out 0.2s;
}
.⚪:hover {
  background-color: rgba(225, 225, 225, 0.7);
}
.⚪:active {
  background-color: rgba(225, 225, 225, 0.5);
}
/* input */
.🎹 {
  /* Exemple de classe emoji pour un clavier */
  display: block;
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  margin: 2rem;
}



.🃏 {
  width: 300px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.🖼️ {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 1px solid #ddd;
}

.📝 {
  padding: 16px;
}

.📌 {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.📄 {
  font-size: 1rem;
  color: #666;
}

.🎉 {
  padding: 20px;
  text-align: center;
  font-size: 4em;
  text-decoration: underline;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
div{
  margin: 0.25rem;
}

