* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fw {
  width: 100%;
}

.wfit {
  width: fit-content;
}

/* public/styles.css */
.alban-button {
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  border: none;
  margin: 1rem;
  text-align: center;
}

.gabriel-button {
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  cursor: pointer;
  margin: 1rem;
  text-align: center;
}

/* check button */

.✅ {
  color: #fff;
  background-color: rgb(0, 159, 13);
  transition: ease-in-out 0.2s;
}
.✅:hover {
  background-color: rgba(0, 159, 13, 0.9);
}
.✅:active {
  background-color: rgba(0, 159, 13, 0.8);
}

/* cross button */

.❌ {
  color: #fff;
  background-color: rgb(195, 0, 0);
  transition: ease-in-out 0.2s;
}
.❌:hover {
  background-color: rgba(195, 0, 0, 0.9);
}
.❌:active {
  background-color: rgba(195, 0, 0, 0.8);
}

/* black button */

.⚫ {
  color: #fff;
  background-color: rgb(0, 0, 0);
  transition: ease-in-out 0.2s;
}
.⚫:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
.⚫:active {
  background-color: rgba(0, 0, 0, 0.8);
}

/* grey-100 button */

.⚪ {
  color: #000000;
  background-color: rgb(225, 225, 225);
  transition: ease-in-out 0.2s;
}
.⚪:hover {
  background-color: rgba(225, 225, 225, 0.7);
}
.⚪:active {
  background-color: rgba(225, 225, 225, 0.5);
}
/* input */
.🎹 {
  /* Exemple de classe emoji pour un clavier */
  margin: 5rem;
}

.alban-input {
  display: block;
  width: 100%;
  padding: 0.7rem;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.🃏 {
  width: 300px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 3rem;
}

.🖼️ {
  width: 100%;
  height: auto;
  display: block;
}

.📝 {
  padding: 16px;
}

.📌 {
  font-size: 1.2rem;
}

.📄 {
  font-size: 1rem;
  color: #666;
}

.alban-input::placeholder {
  color: #afafaf;
}

.gabriel-input {
  display: block;
  width: 100%;
  padding: 0.7rem;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 999px;
}

.gabriel-input::placeholder {
  color: #afafaf;
}

.🎉 {
  padding: 20px;
  text-align: center;
  font-size: 4em;
  text-decoration: underline;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 80px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.nav-links {
  display: flex;
  justify-content: center;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  height: 60px;
  align-items: center;
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 33px;
  right: 20px;
  z-index: 2;
}

.menu-toggle img {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .header {
    display: flex;
    align-items: center;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .nav-links a {
    display: block;
    padding: 10px 0;
    width: 100%;
  }

  .nav-links.active {
    display: flex;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.form-test {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mt48 {
  margin-top: 48px;
}

.test-container {
  padding: 48px;
}
.container{
  width: 80%;
  margin: auto;
}

.logo{
  width: 50px;
  height: 50px;
  object-fit: cover;
  transform-origin: bottom;


}

p{
  /* font-weight: bold  ; */
  font-size: 1.3em;
  padding: 2rem;

}

h2{
  padding: 1rem;
}